        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="ti-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a href="#/ui"><i class="ti-wand"></i><span data-translate="UI_KIT"></span></a>
            <ul>
                <li><a href="#/ui/typography"><i class="ti-angle-right"></i><span data-translate="TYPOGRAPHY"></span></a></li>
                <li><a href="#/ui/icons"><i class="ti-angle-right"></i><span data-translate="ICONS"></span> <span class="badge badge-info">3</span></a></li>
                <li><a href="#/ui/buttons"><i class="ti-angle-right"></i><span data-translate="BUTTONS"></span></a></li>
                <li><a href="#/ui/components"><i class="ti-angle-right"></i><span data-translate="COMPONENTS"></span> <span class="badge badge-danger">18</span></a></li>
                <li><a href="#/ui/boxes"><i class="ti-angle-right"></i><span data-translate="BOXES"></span></a></li>
                <li><a href="#/ui/widgets"><i class="ti-angle-right"></i><span data-translate="WIDGETS"></span> <span class="badge badge-success">13</span></a></li>
                <li><a href="#/ui/timeline"><i class="ti-angle-right"></i><span data-translate="TIMELINE"></span></a></li>
                <li><a href="#/ui/nested-lists"><i class="ti-angle-right"></i><span data-translate="NESTED_LISTS"></span></a></li>
                <li><a href="#/ui/pricing-tables"><i class="ti-angle-right"></i><span data-translate="PRICING_TABLES"></span></a></li>
                <li><a href="#/ui/grids"><i class="ti-angle-right"></i><span data-translate="GRIDS"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/page"><i class="ti-files"></i><span data-translate="PAGES"></span></a>
            <ul>
                <li><a href="http://iarouse.com/dist-slim/landing/index.html" target="_blank"><i class="ti-angle-right"></i><span data-translate="LANDING"></span></a></li>
                <li><a href="#/page/signin"><i class="ti-angle-right"></i><span data-translate="SIGN_IN"></span></a></li>
                <li><a href="#/page/signup"><i class="ti-angle-right"></i><span data-translate="SIGN_UP"></span></a></li>
                <li><a href="#/page/forgot-password"><i class="ti-angle-right"></i><span data-translate="FORGOT_PASSWORD"></span></a></li>
                <li><a href="#/page/lock-screen"><i class="ti-angle-right"></i><span data-translate="LOCK_SCREEN"></span></a></li>
                <li><a href="#/page/profile"><i class="ti-angle-right"></i><span data-translate="USER_PROFILE"></span></a></li>
                <li><a href="#/page/invoice"><i class="ti-angle-right"></i><span data-translate="INVOICE"></span></a></li>
                <li><a href="#/page/404"><i class="ti-angle-right"></i>404 <span data-translate="ERROR"></span></a></li>
                <li><a href="#/page/500"><i class="ti-angle-right"></i>500 <span data-translate="ERROR"></span></a></li>
                <li><a href="#/page/blank"><i class="ti-angle-right"></i><span data-translate="BLANK_PAGE"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="ti-layout-grid4"></i><span data-translate="TABLES"></span></a>
            <ul>
                <li><a href="#/table/static"><i class="ti-angle-right"></i><span data-translate="STATIC_TABLES"></span></a></li>
                <li><a href="#/table/responsive"><i class="ti-angle-right"></i><span data-translate="RESPONSIVE_TABLES"></span> <span class="badge badge-info">2</span></a></li>
                <li><a href="#/table/dynamic"><i class="ti-angle-right"></i><span data-translate="DYNAMIC_TABLES"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="ti-pencil"></i><span data-translate="FORMS"></span></a>
            <ul>
                <li><a href="#/form/layouts"><i class="ti-angle-right"></i><span data-translate="FORM_LAYOUTS"></span></a></li>
                <li><a href="#/form/elements"><i class="ti-angle-right"></i><span data-translate="FORM_ELEMENTS"></span> <span class="badge badge-info">14</span></a></li>
                <li><a href="#/form/validation"><i class="ti-angle-right"></i><span data-translate="FORM_VALIDATION"></span></a></li>
                <li><a href="#/form/wizard"><i class="ti-angle-right"></i><span data-translate="FORM_WIZARD"></span></a></li>
            </ul>
        </li>
       <li>
            <a href="#/chart"><i class="ti-bar-chart"></i><span data-translate="CHARTS"></span></a>
            <ul>
                <li><a href="#/chart/echarts-line"><i class="ti-angle-right"></i>ECharts - <span data-translate="LINE"></span></a></li>
                <li><a href="#/chart/echarts-bar"><i class="ti-angle-right"></i>ECharts - <span data-translate="BAR"></span></a></li>
                <li><a href="#/chart/echarts-pie"><i class="ti-angle-right"></i>ECharts - <span data-translate="PIE"></span></a></li>
                <li><a href="#/chart/echarts-scatter"><i class="ti-angle-right"></i>ECharts - <span data-translate="SCATTER"></span></a></li>
                <li><a href="#/chart/echarts-more"><i class="ti-angle-right"></i>ECharts - <span data-translate="MORE"></span></a></li>
            </ul>
        </li>
        <li class="nav-task">
            <a href="#/app/tasks">
                <i class="ti-check-box"></i><span data-translate="TASKS"></span>
            </a>
        </li>
    </ul>
</div>